@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500;1,700&display=swap');
body{
    font-family: "barlow",sans-serif ;
    line-height: 1.7;
    color: #516171;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700 !important;
    color:#092032 ; 
}
a{
   color:#092032 ; 
   text-decoration: none;
   transition: all 0.4s ease;
   font-weight: 500;
}
img{
    width: 100%;
}
.bg-cover{
    background-position: center !important;
    background-size: cover !important;

}
section{
    padding-top: 80px;
    padding-bottom: 80px;

}
.intro p {
    max-width: 500px;
    margin: auto;
}
/*------------------------navbar------------------------*/
.navbar{
    box-shadow: 0px 6px 30px rgba(0,0,0,0.08);
    padding: 0px 40px;
}
.navbar-brand{
    font-weight: 700;
    font-size: 37px;
    color: #092032;

}
.nav-link{
    font-size: 20px;
}
.na .navbar-nav .nav-link.nav-item:hover
.navbar-nav.nav-link.nav-item.active{
  color:orangered;
}
.navbar-brand span{
color: rgb(250, 74, 10);
}
/*----button----*/
.btn{
    padding: 9px 24px;
}
.btn-bran{
    background: orangered;
    color: white;
    border-color:orangered;
    
}
/*------------home----*/
.slide1{
    background: linear-gradient(rgba(12, 35, 53, 0.4),rgba(9, 32, 50, 0.4) ), url(../img/background.jpeg);
}
/*------------------about---------*/
.info-box{
    display: flex;
    align-items: center;
}
.info-box img{
    width: 90px;
    margin-right: 13px;
}
/*---------milestone-----------*/
#milestone{
    background-color: rgb(251, 112, 62);
}
#milestone .display-4,
#milestone p{
    color: #ffffff;
}
#milestone .display-4{
    font-weight: 700;
}
/*----------service-----------*/
.service{
    padding: 32px;
    box-shadow: 0px 6px 30px rgba(0,0,0,0.08);
    text-align: center;

}
.service img{
    width: unset;
}
.service h5{
    margin-top: 24px;
    margin-bottom: 12px;
}
/*--------team-----*/
.team-member {
    text-align: center;
}

.team-member .image{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.team-member .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10%;
    background-color: rgba(255, 77, 41, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member h5 {
    margin-top: 16px;
    margin-bottom: 4px;
}

.team-member .social-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member .social-icons a {
    width: 80px;
    height: 80px;
}
.bx{
    font-size: 40px;
}
.team-member:hover .social-icons {
    top: 50%;
    opacity: 1;
}

.team-member:hover .overlay {
    top: 0%;
    opacity: 1;
}
/*------------contact--------*/
/*-----------fotter-------*/
footer{
    padding-top: 80px;
    color: #ffffff;
    background: linear-gradient(rgba(12, 35, 53, 0.4),rgba(9, 32, 50, 0.4) ), url(../img/bg_banner1.jpg);
   
}
footer .navbar-brand{
    color: #ffffff;
}
.footer-top{
    margin-bottom: 40px;
}

.footer-bottom{
    border-top: 1px solid rgba(109,23,23,0.08);
    margin-top: 40px;
}
footer .social-icons a{
    margin: 55px 0;

}
